/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$line-color: var(--line-color, #fff);

.is-style-animate-inside-lines figure.wp-block>div {

    &:before,
    &:after {
        content: '';
        opacity: 0;
        z-index: 2;
        position: absolute;
        transition: opacity 0.35s, transform 0.45s;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        box-shadow: unset;
    }

    &:before {
        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        transform: scale(0, 1);
    }

    &:after {
        border-right: 1px solid $line-color;
        border-left: 1px solid $line-color;
        transform: scale(1, 0);
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.is-style-cross figure {

    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 1px;
        background: $line-color;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
    }

    img {
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(1.25);
    }

    &:hover {
        &:before {
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &:after {
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
        img {
            opacity: 0.7;
            transform: scale(1);
        }
    }
}
