/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$line-color: var(--line-color, #fff);
$foreground: var(--foreground, #ffffff00);
$background: var(--background, #ffffff00);
$blend-mode: var(--blend-mode, 'multiply');
$text-blend-mode: var(--text-blend-mode, 'normal');
$font-size: var(--font-size, '1.75rem');

.is-style-animate-inside-lines.wp-block-gallery.has-nested-images figure a,
.is-style-animate-inside-lines.wp-block-gallery.has-nested-images figure {

    background: $foreground;
    transition: background 0.35s;

    &:before,
    &:after {
        content: '';
        opacity: 0;
        position: absolute;
        transition: transform 0.45s;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        box-shadow: unset;
        z-index: 1;
        mix-blend-mode: $text-blend-mode;
    }

    &:before {
        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        transform: scale(0, 1);
    }

    &:after {
        border-right: 1px solid $line-color;
        border-left: 1px solid $line-color;
        transform: scale(1, 0);
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: scale(1, 1);
    }

    img {
        mix-blend-mode: $blend-mode;
    }

    &:hover {

        background: $background;
    }

    figcaption {
        bottom: unset;
        background: unset;
        font-size: $font-size;
        line-height: 1;
        max-height: unset;
        margin-top: 0;
        color: $line-color;
        mix-blend-mode: $text-blend-mode;
        transform: translate3d(0,-20px,0);
        transition: transform 0.35s;
    }

    &:hover figcaption{
        transform: translate3d(0,0,0);
    } 
}

.is-style-cross.wp-block-gallery.has-nested-images figure {

    overflow: hidden;
    background: $foreground;
    transition: background 0.35s;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 1px;
        background: $line-color;
        transition: transform 0.35s;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
        mix-blend-mode: $text-blend-mode;
    }

    img {
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(1.15);
        mix-blend-mode: $blend-mode;
    }

    &:hover {

        background: $background;

        &:before {
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &:after {
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
        img {
            
            transform: scale(1);
        }
    }

    figcaption {
        bottom: unset;
        background: unset;
        font-size: $font-size;
        line-height: 1;
        max-height: unset;
        margin-top: 0;
        color: $line-color;
        mix-blend-mode: $text-blend-mode;
        transform: translate3d(0,-50px,0);
        transition: transform 0.35s;
    }

    &:hover figcaption{
        transform: translate3d(0,-30px,0);
    } 
}